.box{
    height:360px;
    width:580px;
    position:relative;
    border-style: outset;
    border-radius: 10;
    border-color: rgb(0, 145, 255);
    padding:5px;
    border-width: 10px;
    top:-390px;
}
.text1{
    position:absolute;
    color:black;
    top:-10px;
    left:150px;

}
.paragh1{
    position:absolute;
    font-size: 22px;
    color: azure;
    font-family: monospace;
    top:120px;
    left:24px;

}
body{
    background-color: darkslategrey;
}
h2{
    position: absolute;
    top: 260px;
    left:680px;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.coyazi{
    position:absolute;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-family: monospace;
    top:350px;
    left:680px;  
}

.box1{
    height:390px;
    width:589px;
    position:relative;
    border-style: outset;
    border-radius: 10;
    border-color: rgb(0, 145, 255);
    padding:5px;
    border-width: 10px;
    top:-450px;
    left:609px;
}
.ban2 img{
    position:absolute;
    top:337px;
    left:626px;
}
.box2{
    height:390px;
    width:700px;
    position:relative;
    border-style: outset;
    border-radius: 10;
    border-color: rgb(0, 145, 255);
    padding:5px;
    border-width: 10px;
    top:1px;
    left:350px;
    background-color: aliceblue;
}
h3{
    position: absolute;
    left:600px;
    top:1100px;
    font-size: 40px;
    
}
.kaynakyazi{
    position: absolute;
    top:1300px;
    left:400px;
}