.banner{
    position:relative;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.banner img{
    max-width: 100%;
    height: auto;
}
.btext{
    position: absolute;
    top:150px;
    color:rgb(0, 0, 0);
    padding: 20px;
    left:-30px
}
.box{
    position:relative;
    width: 400px;
    height:900px;
    border-style: outset;
    border-radius: 10px;
    border-width: 6px;
    padding:5px;
    border-color:blue;
    left: -50px;
    top:-260px;
}